@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet');

.hide {
  display: none;
}

:root {
  --font-main: 'roboto';
  --color-font-header-logo: #f9faf8;
  --color-font-header-menu: #e5e7eb;
  --color-bg-dark: #1f2937;
  --color-font-banner-1st: #f9faf8;
  --color-font-banner-2nd: #e5e7eb;
  --color-btn-1: #3882f6;
  --color-info-txt: #1f2937;
  --color-quote-bg: #e5e7eb;
  --color-quote-txt: #1f2937;
  /* --color-f: #fff;
  --color-0: #000;
  --color-1: #272a31;
  --color-1b: #212c33;
  --color-1c: #535353;
  --color-2: #ec5242;
  --color-2b: #ffbfb8;
  --color-2c: #ffdfdb;
  --color-3: #d3d3d3;
  --color-3b: #f3f3f3;
  --color-5: #fcbf49;
  --color-6: #ccc; */
}

* {
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  list-style-type: none;
  margin-block-start: 0;
  margin-block-end: 0;
  padding-inline-start: 0;
  font-family: var(--font-main), 'lato', 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

body {
  margin: 0;
  padding: 0;
}

img {
  width: 100%;
}

/* .grid-container {
  display: grid;
} */

header, .sec1, .sec2, .sec3, .sec4, footer {
  padding-left: 20vh;
  padding-right: 20vh;
}

header, footer {
  padding-top: 1vh;
  padding-bottom: 1vh;
}

.sec1, .sec2, .sec3, .sec4 {
  padding-top: 10vh;
  padding-bottom: 10vh;
}

header, .sec1, footer {
  background: var(--color-bg-dark);
}

header {
  display: flex;
  /* align-items: center; */
  
  .header_logo {
    width: 35%;
    font-size: 24px;
    /* align-items: center; */
    /* align-content: center; */
    color: var(--color-font-header-logo);
    cursor: pointer;
  }

  .header_menu {
    width: 65%;
    display: flex;
    justify-content: space-between;
    align-items: center;

    li {
      /* padding-left: 0.6rem; */
      /* padding-right: 0.6rem; */
      padding: 0.3rem 0.6rem 0.3rem 0.6rem;
      cursor: pointer;
      border-radius: 0.2rem;

      a {
        color: var(--color-font-header-menu);
      }
    }

    li:hover {
      /* background-color: var(--color-font-banner-2nd); */
      background-color: var(--color-btn-1);
      a {
        /* color: var(--color-font-header-menu); */
        /* color: var(--color-btn-1); */
        font-weight: bolder;
      }
      
      
    }

  }

}

.sec1 {
  display: flex;
  gap: 2rem;

  .s1_r1_c1, .s1_r1_c2 {
    width: 50%;
  }

  h1 {
    color: var(--color-font-banner-1st);
    font-size: 48px;
    font-weight: 900;
  }

  p {
    color: var(--color-font-banner-2nd);
  }

  .btn_signup_1 {
    width: 7rem;
    border-radius: 0.3rem;
    padding: 0.4rem;

    color: var(--color-font-banner-2nd);
    background-color: var(--color-btn-1);
    cursor: pointer;
  }

  .btn_signup_1:hover {
    color: var(--color-btn-1);
    background-color: var(--color-font-banner-2nd);
    font-weight: bolder;
  }



}




h2 {
  color: var(--color-2);
  font-size: 28px;
  font-weight: 500;
  line-height: 34px;
  margin: 0.6rem 0;
}

h3 {
  color: var(--color-3);
  font-size: 1.2rem;
  font-weight: 700;
  line-height: 34px;
  margin: 0.6rem 0;
}

h4 {
  color: var(--color-2);
  margin: 0;
  font-size: 1rem;
  font-weight: 700;
}

/* span {
  font-size: 1.4rem;
  color: var(--color-2);
  font-weight: 500;
} */

p {
  color: var(--color-1);
}

footer {
  color: var(--color-font-header-menu);
  display: flex;
  justify-content: center;
  font-size: 18px;
  /* padding: 1rem 1.3rem;
  display: flex;
  flex-direction: column;
  margin: 0;
  text-align: center; */
}

/*
header {
  display: flex;
  justify-content: left;
  padding: 1rem 1.5rem;
  padding-bottom: 2rem;
  background: rgba(0, 0, 0, 0.9) url("../images/bg-header-mobile.png") no-repeat;
  background-size: cover;
} */


